
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRestaurantLabel" data-translate="springBootAngJsTemplateApp.restaurant.home.createOrEditLabel">Create or edit a Restaurant</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.restaurant.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.restaurant.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="springBootAngJsTemplateApp.restaurant.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.restaurant.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="springBootAngJsTemplateApp.restaurant.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.restaurant.status" id="field_status">
                <option value="ACTIVE" data-translate="springBootAngJsTemplateApp.StatusEnum.ACTIVE">ACTIVE</option>
                <option value="INACTIVE" data-translate="springBootAngJsTemplateApp.StatusEnum.INACTIVE">INACTIVE</option>
                <option value="PENDING" data-translate="springBootAngJsTemplateApp.StatusEnum.PENDING">PENDING</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
